@model IEnumerable<CF_Liberty.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>list of Books</h2>
    <div class="layer">

    </div> 
   
    

<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Genre
        </th>
        <th>
            Nuber_of_Page
        </th>
        <th>
            Author
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nuber_of_Page)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.author.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
